#global {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: black;
  padding: 0px 0px 0px 0px;
}
#global ul {
  margin: 0px;
  list-style: none;
  display: inline-block;
  margin-top: 3px;
  width: 70%;
}
#global ul li {
  margin-left: 1%;
  display: inline;
}
#global ul li a {
  color: white;
  font-weight: bold;
}
#global ul li a:hover {
  color: #e6b842;
}
#global .social {
  float:right;
  margin-right: 1%;
}
#global .social img {
  width: 20px;
  border: none;
}


body {
  margin-top: 30px !important;
}